.friend-list {
    list-style-type: none;
    padding: 0;
}

.friend-list li {
    margin-bottom: 10px;
    border: 1px solid #ccc;
    /* Додаємо бордер */
    padding: 10px;
    /* Додаємо відступи всередині елементу */
}